<ion-header>
  <ion-toolbar>
    <h1 class="ion-text-center">Login</h1>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="criar-conta">
    <p><ion-button [routerLink]="['usuario/new']" fill="clear" color="medium">Registre-se</ion-button></p>
  </div>

  <div id="logo-div">
    <ion-text>
      <img src="../../../assets/icon/iconGym.png" />
      <h1>Gym Workout</h1>
    </ion-text>
  </div>
  
  <form id="form-div" [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true">
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Senha">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button  [routerLink]="['']" fill="clear" color="medium">Esqueci minha senha.</ion-button>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" fill="clear">Entrar</ion-button>
  </form>

</ion-content>