ion-toolbar{
    text-align: center;
    color: black;
    --ion-toolbar-background: rgb(110, 86, 218);
}

ion-content{
    --ion-background-color: linear-gradient(180deg,  rgb(110, 86, 218) 20%, rgba(255,255,255,1) 100%);
    --ion-background-color-rgb: rgb(110, 86, 218);
}

#criar-conta{
    color:  rgb(224, 221, 221);
    text-align: right;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#logo-div {
    height: 40%;
    display: flex;
    align-items: center;    //vertical
    justify-content: center; //horizontal
    font-weight: bold;

    img{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    h1{
        font-weight: bold;
        text-align: center;
    }
}

#form-div{
    
    padding: 1rem;
    align-items: center;  
    
    ion-item{
        align-items: center; 
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    ion-icon{
        font-size: 1.5rem;
        padding: 0.5rem;
        color:  rgb(110, 86, 218);
    }

    p{
        text-align: right;
        margin-right: 0.5rem;
        color:  rgb(110, 86, 218);
    }

    ion-button{
        font-size: 1.5rem;
        color: rgb(110, 86, 218);
        font-weight: bold;
        padding: 0.5rem;
    }
}