<ion-header>
  <ion-toolbar>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Pesquisar"
    (inClear)="doSearchClear()"
    (inChange)="doSearchClearChange($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let usuario of usuarios">
      <ion-item>
        <ion-label>{{usuario.name}}</ion-label>
      </ion-item>

      <ion-item-options side="start">

        <ion-item-option [routerLink]="['edit', usuario.id]">
          <ion-icon slot="icon-only" name="create" color="danger"></ion-icon> 
        </ion-item-option>

        <ion-item-option (click)="delete(usuario)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon> 
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>